:root {
  /* Variáveis de cores */
  --dark-background-color: #292929; /* Fundo geral escuro */
  --dark-color-elements: #383838; /* Elementos escuros */
  --topbar-color: #151515; /* Barra superior */
  --light-background-color: #ffffff; /* Fundo claro */
  --text-icons-color: #e2e1e4; /* Texto e ícones */
  --hover-dark-purple: #805ea1; /* Cor de hover e destaques */
}

@font-face {
  font-family: "menuBar";
  src: url("../assets/fonts/menuBar.eot?pki9mx");
  src: url("../assets/fonts/menuBar.eot?pki9mx#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/menuBar.ttf?pki9mx") format("truetype"),
    url("../assets/fonts/menuBar.woff?pki9mx") format("woff"),
    url("../assets/fonts/menuBar.svg?pki9mx#menuBar") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "menuBar" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 38px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add_circle:before {
  content: "\e900";
  color: #e2e1e4;
}
.icon-history:before {
  content: "\e901";
  color: #e2e1e4;
}
.icon-menu:before {
  content: "\e902";
  color: #e2e1e4;
}
.icon-menu_close:before {
  content: "\e903";
  color: #e2e1e4;
}
.icon-trash:before {
  content: "\e904";
  color: #e2e1e4;
}

.menuBar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  background-color: var(--dark-color-elements);
  box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.14), 3px 0px 14px rgba(0, 0, 0, 0.12),
    5px 0px 5px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease;
  padding-left: 20px;
}

.menuBar.closed {
  width: 80px;
  transition: all 0.3s ease-out;
}

.menuBar.open {
  width: 295px;
  align-items: flex-start;
  padding-left: 20px;
}

.BtnContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 55px;
  top: 120px;
}

.buttons {
  display: flex;
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: none;
  flex-direction: column;
  cursor: pointer;
  flex-direction: row;
}

.disableBtn {
  pointer-events: none;
}

.icon-add_circle:hover::before,
.icon-history:hover::before,
.icon-trash:hover::before,
.icon-menu:hover::before,
.icon-menu_close:hover::before,
.label:hover {
  transition: 0.4s ease;
  color: #805ea1;
}

.menuBar.closed .label {
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: opacity 0.4s ease, width 0.4s ease;
}

.menuBar.open .label {
  opacity: 1;
  width: auto;
  transition: opacity 0.4s ease, width 0.4s ease;
  margin-left: 37px;
  font-size: 32px;
}

.buttons:hover .label {
  opacity: 1;
  width: auto;
  color: #805ea1;
  transition: opacity 0.4s ease, color 0.4s ease;
}
