:root {
  /* Variáveis de cores */
  --dark-background-color: #292929; /* Fundo geral escuro */
  --dark-color-elements: #383838; /* Elementos escuros */
  --topbar-color: #151515; /* Barra superior */
  --light-background-color: #ffffff; /* Fundo claro */
  --text-icons-color: #e2e1e4; /* Texto e ícones */
  --hover-dark-purple: #805ea1; /* Cor de hover e destaques */
}

.menuBar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 80px;
  height: 100%;
  background-color: var(--dark-color-elements);
  box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.14), 3px 0px 14px rgba(0, 0, 0, 0.12),
    5px 0px 5px rgba(0, 0, 0, 0.2);
  align-items: flex-start;
}
.buttons {
  display: flex;
  width: 65px;
  /* height: 100%; */
  flex-direction: column;
  justify-content: flex-start;
  /* margin-left: 10px;
  margin-top: 146px; */
  /* gap: 45px; */
}
